// header {
//     width: 100%;
//     // height: calc(100vh - 95px);
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     padding-left: 50px;
// }

// header .content-header {
//     width: 50%;
// }

// header .content-header * {
//     margin: 10px 0;
// }





.contenidoTyped {

    @-webkit-keyframes contenido1 {

        /* string 1, char 1 */
        0%,
        7.142857142857143% {
            content: "F";
        }

        /* string 1, char 2 */
        7.142857142857143%,
        14.28571428571429% {
            content: "Fe";
        }

        /* string 1, char 3 */
        14.28571428571429%,
        21.42857143% {
            content: "Fel";
        }

        /* string 1, char 4 */
        21.42857143%,
        28.57142857% {
            content: "Feli ";
        }

        /* string 1, char 5 */
        28.57142857%,
        35.71428571% {
            content: "Felip";
        }

        /* string 1, char 6 */
        35.71428571%,
        42.85714286% {
            content: "Felipe";
        }

        /* string 1, char 7 */
        42.85714286%,
        50% {
            content: "Felipe ";
        }

        /* string 1, char 8 */
        50%,
        57.14285715% {
            content: "Felipe A";
        }

        /* string 1, char 9 */
        57.14285715%,
        64.28571429% {
            content: "Felipe Ar";
        }

        /* string 1, char 10 */
        64.28571429%,
        71.42857143% {
            content: "Felipe Ara";
        }

        /* string 1, char 11 */
        71.42857143%,
        78.57142857% {
            content: "Felipe Arav";
        }

        /* string 1, char 12 */
        78.57142857%,
        85.71428571% {
            content: "Felipe Arave";
        }

        /* string 1, char 13 */
        85.71428571%,
        92.85714285% {
            content: "Felipe Araven";
        }

        /* string 1, char 14 */
        92.85714285%,
        100% {
            content: "Felipe Aravena";
        }
    }

    @keyframes contenido1 {

        /* string 1, char 1 */
        0%,
        7.142857142857143% {
            content: "F";
        }

        /* string 1, char 2 */
        7.142857142857143%,
        14.28571428571429% {
            content: "Fe";
        }

        /* string 1, char 3 */
        14.28571428571429%,
        21.42857143% {
            content: "Fel";
        }

        /* string 1, char 4 */
        21.42857143%,
        28.57142857% {
            content: "Feli ";
        }

        /* string 1, char 5 */
        28.57142857%,
        35.71428571% {
            content: "Felip";
        }

        /* string 1, char 6 */
        35.71428571%,
        42.85714286% {
            content: "Felipe";
        }

        /* string 1, char 7 */
        42.85714286%,
        50% {
            content: "Felipe ";
        }

        /* string 1, char 8 */
        50%,
        57.14285715% {
            content: "Felipe A";
        }

        /* string 1, char 9 */
        57.14285715%,
        64.28571429% {
            content: "Felipe Ar";
        }

        /* string 1, char 10 */
        64.28571429%,
        71.42857143% {
            content: "Felipe Ara";
        }

        /* string 1, char 11 */
        71.42857143%,
        78.57142857% {
            content: "Felipe Arav";
        }

        /* string 1, char 12 */
        78.57142857%,
        85.71428571% {
            content: "Felipe Arave";
        }

        /* string 1, char 13 */
        85.71428571%,
        92.85714285% {
            content: "Felipe Araven";
        }

        /* string 1, char 14 */
        92.85714285%,
        100% {
            content: "Felipe Aravena";
        }
    }

    @-webkit-keyframes beam-blink {
        85% {
            border-color: transparent;
        }
    }

    @keyframes beam-blink {
        85% {
            border-color: transparent;
        }
    }

    * {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    @media (min-width: 576px) {

        h2 {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background-repeat: repeat-y;
            background-position: center center;
            background-size: cover, 100% 3px;
            font-size: calc(15px + 2vw);
            font-family: 'VT323', monospace, sans-serif;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        h2::after {
            content: "​";
            position: relative;
            top: -13px;
            display: inline-block;
            padding-right: 3px;
            padding-right: calc(3px + 0.1vw);
            border-right: 10px solid rgb(255, 255, 255);
            border-right: calc(1.1vw + 4px) solid rgb(255, 255, 255);
            text-shadow: 0 0 5px rgb(255, 255, 255);
            white-space: nowrap;
            -webkit-animation: contenido1 6.36s linear 1s infinite, beam-blink 1s infinite;
            animation: contenido1 6.36s linear 1s infinite, beam-blink 1s infinite;
        }


        // @media (max-width: 575px) {
        //     body::after {
        //         top: -33px;
        //     }
        // }
    }

    @media (max-width: 576px) {
        h2 {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background-repeat: repeat-y;
            background-position: center center;
            background-size: cover, 100% 3px;
            font-size: calc(15px + 2vw);
            font-family: 'VT323', monospace, sans-serif;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        h2::after {
            content: "​";
            position: relative;
            top: -13px;
            display: inline-block;
            padding-right: 3px;
            padding-right: calc(3px + 0.1vw);
            border-right: 10px solid rgb(255, 255, 255);
            border-right: calc(1.1vw + 4px) solid rgb(255, 255, 255);
            text-shadow: 0 0 5px rgb(255, 255, 255);
            white-space: nowrap;
            -webkit-animation: contenido1 6.36s linear 1s infinite, beam-blink 1s infinite;
            animation: contenido1 6.36s linear 1s infinite, beam-blink 1s infinite;
        }
    }
}

@media (max-width: 575.98px) {
    .contenidoMe {

        .content {
            width: 200px;
            font-size: 20px;
            line-height: 40px;
            // font-family: 'Muli';
            color: #fff;
            height: 40px;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-top: -15px;
            // margin-left: -118px;

            &:before {
                content: '[';
                position: absolute;
                left: 5%;
                line-height: 40px;
            }

            &:after {
                content: ']';
                position: absolute;
                right: -8%;
                line-height: 40px;
            }

            &:after,
            &:before {
                color: #ffffff;
                font-size: 40px;
                animation: 2s linear 0s normal none infinite opacity;
                -webkit-animation: 2s ease-out 0s normal none infinite opacity;
                -moz-animation: 2s ease-out 0s normal none infinite opacity;
                -o-animation: 2s ease-out 0s normal none infinite opacity;
            }

        }

        .visible {
            float: left;
            font-weight: 300;
            overflow: hidden;
            height: 40px;
        }

        p {
            display: inline;
            float: right;
            margin: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 90px;
            text-align: left;
            list-style: none;
            animation: 8s linear 0s normal none infinite change;
            -webkit-animation: 8s linear 0s normal none infinite change;
            -moz-animation: 8s linear 0s normal none infinite change;
            -o-animation: 8s linear 0s normal none infinite change;
        }

        ul li {
            line-height: 40px;
            margin: 0;
        }

        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }

        @keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 576px) {
    .contenidoMe {

        .content {
            width: 400px;
            font-size: 20px;
            line-height: 40px;
            // font-family: 'Muli';
            color: #fff;
            height: 40px;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-top: -15px;
            // margin-left: -118px;

            &:before {
                content: '[';
                position: absolute;
                left: 25%;
                line-height: 40px;
            }

            &:after {
                content: ']';
                position: absolute;
                right: -5%;
                line-height: 40px;
            }

            &:after,
            &:before {
                color: #ffffff;
                font-size: 40px;
                animation: 2s linear 0s normal none infinite opacity;
                -webkit-animation: 2s ease-out 0s normal none infinite opacity;
                -moz-animation: 2s ease-out 0s normal none infinite opacity;
                -o-animation: 2s ease-out 0s normal none infinite opacity;
            }

        }

        .visible {
            float: right;
            font-weight: 400;
            overflow: hidden;
            height: 40px;
        }

        p {
            display: inline;
            float: right;
            margin: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 150px;
            text-align: right;
            list-style: none;
            animation: 8s linear 0s normal none infinite change;
            -webkit-animation: 8s linear 0s normal none infinite change;
            -moz-animation: 8s linear 0s normal none infinite change;
            -o-animation: 8s linear 0s normal none infinite change;
        }

        ul li {
            line-height: 40px;
            margin: 0;
        }

        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }

        @keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .contenidoMe {

        .content {
            width: 400px;
            font-size: 20px;
            line-height: 40px;
            // font-family: 'Muli';
            color: #fff;
            height: 40px;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-top: -15px;
            // margin-left: -118px;

            &:before {
                content: '[';
                position: absolute;
                left: 25%;
                line-height: 40px;
            }

            &:after {
                content: ']';
                position: absolute;
                right: -5%;
                line-height: 40px;
            }

            &:after,
            &:before {
                color: #ffffff;
                font-size: 40px;
                animation: 2s linear 0s normal none infinite opacity;
                -webkit-animation: 2s ease-out 0s normal none infinite opacity;
                -moz-animation: 2s ease-out 0s normal none infinite opacity;
                -o-animation: 2s ease-out 0s normal none infinite opacity;
            }

        }

        .visible {
            float: right;
            font-weight: 400;
            overflow: hidden;
            height: 40px;
        }

        p {
            display: inline;
            float: right;
            margin: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 150px;
            text-align: right;
            list-style: none;
            animation: 8s linear 0s normal none infinite change;
            -webkit-animation: 8s linear 0s normal none infinite change;
            -moz-animation: 8s linear 0s normal none infinite change;
            -o-animation: 8s linear 0s normal none infinite change;
        }

        ul li {
            line-height: 40px;
            margin: 0;
        }

        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }

        @keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .contenidoMe {

        .content {
            width: 300px;
            font-size: 20px;
            line-height: 40px;
            // font-family: 'Muli';
            color: #fff;
            height: 40px;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-top: -15px;
            // margin-left: -118px;

            &:before {
                content: '[';
                position: absolute;
                left: 25%;
                line-height: 40px;
            }

            &:after {
                content: ']';
                position: absolute;
                right: -5%;
                line-height: 40px;
            }

            &:after,
            &:before {
                color: #ffffff;
                font-size: 40px;
                animation: 2s linear 0s normal none infinite opacity;
                -webkit-animation: 2s ease-out 0s normal none infinite opacity;
                -moz-animation: 2s ease-out 0s normal none infinite opacity;
                -o-animation: 2s ease-out 0s normal none infinite opacity;
            }

        }

        .visible {
            float: right;
            font-weight: 400;
            overflow: hidden;
            height: 40px;
        }

        p {
            display: inline;
            float: right;
            margin: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 120px;
            text-align: right;
            list-style: none;
            animation: 8s linear 0s normal none infinite change;
            -webkit-animation: 8s linear 0s normal none infinite change;
            -moz-animation: 8s linear 0s normal none infinite change;
            -o-animation: 8s linear 0s normal none infinite change;
        }

        ul li {
            line-height: 40px;
            margin: 0;
        }

        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }

        @keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .contenidoMe {

        .content {
            width: 300px;
            font-size: 20px;
            line-height: 40px;
            // font-family: 'Muli';
            color: #fff;
            height: 40px;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-top: -15px;
            // margin-left: -118px;

            &:before {
                content: '[';
                position: absolute;
                left: 25%;
                line-height: 40px;
            }

            &:after {
                content: ']';
                position: absolute;
                right: -5%;
                line-height: 40px;
            }

            &:after,
            &:before {
                color: #ffffff;
                font-size: 40px;
                animation: 2s linear 0s normal none infinite opacity;
                -webkit-animation: 2s ease-out 0s normal none infinite opacity;
                -moz-animation: 2s ease-out 0s normal none infinite opacity;
                -o-animation: 2s ease-out 0s normal none infinite opacity;
            }

        }

        .visible {
            float: right;
            font-weight: 400;
            overflow: hidden;
            height: 40px;
        }

        p {
            display: inline;
            float: right;
            margin: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 120px;
            text-align: right;
            list-style: none;
            animation: 8s linear 0s normal none infinite change;
            -webkit-animation: 8s linear 0s normal none infinite change;
            -moz-animation: 8s linear 0s normal none infinite change;
            -o-animation: 8s linear 0s normal none infinite change;
        }

        ul li {
            line-height: 40px;
            margin: 0;
        }

        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }

        @keyframes change {
            0% {
                margin-top: 0;
            }

            15% {
                margin-top: 0;
            }

            25% {
                margin-top: -40px;
            }

            40% {
                margin-top: -40px;
            }

            50% {
                margin-top: -80px;
            }

            65% {
                margin-top: -80px;
            }

            75% {
                margin-top: -40px;
            }

            85% {
                margin-top: -40px;
            }

            100% {
                margin-top: 0;
            }
        }
    }
}






$enable-negative-margins: true;
@import "../../../node_modules/bootstrap/scss/bootstrap";

@media (max-width: 768px) {
    .margin-top-n {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .margin-top-n {
        margin-top: -300px;
    }
}